datasets
email-validator
faiss-cpu
fastapi
faster-whisper
google-generativeai
gtts
motor
passlib[bcrypt]
pydantic
pydantic-settings
pydub
python-dotenv
python-jose[cryptography]
python-multipart
reportlab
requests
scikit-learn
sentence-transformers
SpeechRecognition
streamlit
streamlit-mic-recorder
torch
torchaudio
torchvision
transformers
uvicorn
